body {
  margin: 0;
  background-color: #444;
}

.profile{
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: white;
  align-items: center;
  justify-content: center;
}

img {
  border-radius: 100%;
  width: 300px;
  box-shadow: 0 0 20px black;
}

h1 {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  font-family: sans-serif;
  color: white;
  text-shadow: 0 0 20px black;
}
